# If you change this, remember to change the RewriteRule entry further down, too!
AddCharset utf-8 html

<Files *.txt>
require all denied
</Files>

<Files config.pl>
require all denied
</Files>

<IfModule mod_headers.c>
<Files ~ "(\.html$|\.pl)>
  Header set Expires "Thu, 12 Oct 1989 00:00:00 GMT"
  Header set Pragma "no-cache"
  Header set Cache-Control "max-age=0; must-revalidate; no-cache"
# Header unset Vary
</Files>
</IfModule>

Header set Expires "Thu, 12 Oct 1989 00:00:00 GMT " "expr=%{CONTENT_TYPE} =~ m#html#"
Header set Pragma "no-cache" "expr=%{CONTENT_TYPE} =~ m#html#"
Header set Cache-Control "max-age=0; must-revalidate; no-cache" "expr=%{CONTENT_TYPE} =~ m#html#"

RewriteRule "\.html$" - [T=application/xhtml+xml;charset=utf-8]

#Header set Content-Type "application/xhtml+xml;charset=utf-8" "expr=%{CONTENT_TYPE} =~ m#text/html#"

DirectoryIndex index.html

Options +ExecCGI
AddHandler cgi-script .pl

<If "%{THE_REQUEST} =~ m# /board/ HTTP#">
 Header onsuccess set X-Robots-Tag "nofollow"
</If>
<Else>
 Header onsuccess set X-Robots-Tag "noindex,nofollow"
</Else>
